{% extends 'partials/_base.html' %}
{% load static %}




{% block content %}






  <div class="all-little-box"></div>
    <div class="container text-center">
      <h1> Welcome {{user.username}}</span> </h1>
      
    </div>

  </div>


 
  
        

  <script src="/static/Cesium/Build/Cesium/Cesium.js"></script>
    <style>
      @import url(/static/Cesium/Build/Cesium/Widgets/widgets.css);
      #cesiumContainer {
        width: 40%;
        height: 40%;
        margin: 0;
        padding: 0;
        left: 60px;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div id="cesiumContainer"></div>
    <script>


      var viewer = new Cesium.Viewer("cesiumContainer", {
        sceneMode: Cesium.SceneMode.SCENE3D,
        timeline: false,
        animation: false,
        selectionIndicator: true,
        infoBox: true,
        //terrainProvider: Cesium.createWorldTerrain(),
        // Create Arctic DEM terrain with normals.
        terrainProvider: new Cesium.CesiumTerrainProvider({
            url : Cesium.IonResource.fromAssetId(3956),
            requestVertexNormals : true
        })
      });

////////////
    Cesium.GeoJsonDataSource.clampToGround = true 
      var dataSource = Cesium.GeoJsonDataSource.load(
        "/assets"
      );
      viewer.dataSources.add(dataSource);
      viewer.zoomTo(dataSource); 
      

    </script>


  
{% endblock %}