<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Use correct character set. -->
    <meta charset="utf-8" />
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <title>Geospatial Asset Management</title>
    <script src="/static/Cesium/Build/Cesium/Cesium.js"></script>
    <script src="/static/Cesium/Apps/Sandcastle/Sandcastle-header.js"></script>

    <script>
        Cesium.defineProperties = Object.defineProperties;
    </script>
    <script src="/static/navigation/viewerCesiumNavigationMixin.min.js"></script>

    <style>
      @import url(/static/Cesium/Build/Cesium/Widgets/widgets.css);

      html,
      body,
      #cesiumContainer {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        }

      #toolbar {
        position: absolute;
        top: 5px;
        left: 0;
        display: inline;
        margin: 10px;
        padding: 0px;
        background: green;
        }

      #logging {
        position: absolute;
        bottom: 30px;
        right: 0;
        display: inline;
        margin: 10px;
        padding: 10px;
        background: white;
        }  
    </style>
  </head>
  <body>
    <div id="cesiumContainer"></div>
    <div id="toolbar"></div>
    <div id="logging"></div>
    <script>

Cesium.Ion.defaultAccessToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI1ZTkwNjBhNy1lODcxLTQ4MTUtYjRkYy1kMWY4ZGI3YjJmODQiLCJpZCI6NDYyODQsImlhdCI6MTYyMDA2NzQ0N30.er2z9qfFdL1JjnEbB_KnUlDvBbN0zVBo54EuMfFxgZQ";

      var viewer = new Cesium.Viewer("cesiumContainer", {
        sceneMode: Cesium.SceneMode.SCENE3D,
        timeline: false,
        animation: false,
        selectionIndicator: false,
        infoBox: false,
        terrainProvider: Cesium.createWorldTerrain(),
        // Create Arctic DEM terrain with normals.
        /*terrainProvider: new Cesium.CesiumTerrainProvider({
            url : Cesium.IonResource.fromAssetId(3956),
            requestVertexNormals : true
        }) */
      });

      if (!viewer.scene.pickPositionSupported) {
        window.alert("This browser does not support pickPosition.");
      }

      viewer.cesiumWidget.screenSpaceEventHandler.removeInputAction(
        Cesium.ScreenSpaceEventType.LEFT_DOUBLE_CLICK
      );
      //OSM buildings
      //viewer.scene.primitives.add(Cesium.createOsmBuildings());
      //Bing Maps Aerial with Labels
    var layer = viewer.imageryLayers.addImageryProvider(
      new Cesium.IonImageryProvider({ assetId: 3 })
    );
    //Cesium ion OSM Buildings
    var tileset = viewer.scene.primitives.add(
      new Cesium.Cesium3DTileset({
        url: Cesium.IonResource.fromAssetId(96188),
      })
    );


///// Compass
    viewer.extend(Cesium.viewerCesiumNavigationMixin, {});

//////////// DataSources and Zoom
    Cesium.GeoJsonDataSource.clampToGround = true ;
    var pinBuilder = new Cesium.PinBuilder();
    Cesium.CzmlDataSource.clampToGround = true ;
    var dataSource1 = Cesium.GeoJsonDataSource.load(
      "/assets"
      );
    var dataSource2 = Cesium.CzmlDataSource.load(
      "/points"
      );
    viewer.dataSources.add(dataSource1);
    viewer.dataSources.add(dataSource2);
    viewer.zoomTo(dataSource2); 
    //viewer.flyTo(dataSource2)

///////////

function createPoint(worldPosition) {
  var point = viewer.entities.add({
    position: worldPosition,
    point: {
      color: Cesium.Color.YELLOW,
      pixelSize: 5,
      heightReference: Cesium.HeightReference.CLAMP_TO_GROUND,
    },
  });
  return point;
}
var drawingMode = "point";
function drawShape(positionData) {
  var shape;

 if (drawingMode === 'point') {
        shape = viewer.entities.add({
            point : {
                positions : positionData,
                color : Cesium.Color.YELLOW,
                pixelSize : 10,
                heightReference: Cesium.HeightReference.CLAMP_TO_GROUND
            },
    });

  } else if (drawingMode === "line") {
    shape = viewer.entities.add({
      polyline: {
        positions: positionData,
        clampToGround: true,
        width: 3,
      },
    });
    
  } else if (drawingMode === "polygon") {
    shape = viewer.entities.add({
      polygon: {
        hierarchy: positionData,
        material: new Cesium.ColorMaterialProperty(
          Cesium.Color.WHITE.withAlpha(0.5)
        ),
      },
    });
  }
  return shape;
}
var activeShapePoints = [];
var activeShape;
var floatingPoint;
var handler = new Cesium.ScreenSpaceEventHandler(viewer.canvas);
handler.setInputAction(function (event) {
  // We use `viewer.scene.pickPosition` here instead of `viewer.camera.pickEllipsoid` so that
  // we get the correct point when mousing over terrain.
  var earthPosition = viewer.scene.pickPosition(event.position);
  //new cartesian coordinates
  var cartographic = Cesium.Cartographic.fromCartesian(
   earthPosition,
   viewer.scene.globe.ellipsoid,
   new Cesium.Cartographic()
  );  

  // `earthPosition` will be undefined if our mouse is not over the globe.
  if (Cesium.defined(earthPosition)) {
    if (activeShapePoints.length === 0) {
      floatingPoint = createPoint(earthPosition);
      activeShapePoints.push(earthPosition);
      var dynamicPositions = new Cesium.CallbackProperty(function () {
        if (drawingMode === "polygon") {
          return new Cesium.PolygonHierarchy(activeShapePoints);
        }
        return activeShapePoints;
      }, false);
      activeShape = drawShape(dynamicPositions);
    }
    activeShapePoints.push(earthPosition);
    createPoint(earthPosition);
  }
    ////// loglar
  //new
  var lat = Cesium.Math.toDegrees(cartographic.latitude);
  var lng = Cesium.Math.toDegrees(cartographic.longitude);
  var height = viewer.camera.positionCartographic.height;
  console.log(lat, lng, height);
  loggingMessage("Last picked coordinates: " + lat.toString() +", "+  lng.toString() +", "+ height.toString());
  //old
  var last_element = activeShapePoints[activeShapePoints.length - 1];
  //loggingMessage("Last picked coordinates: " + last_element.toString());
  console.log("Asset coordinates:" + activeShapePoints.toString());
}, Cesium.ScreenSpaceEventType.LEFT_CLICK);

handler.setInputAction(function (event) {
  if (Cesium.defined(floatingPoint)) {
    var newPosition = viewer.scene.pickPosition(event.endPosition);
    if (Cesium.defined(newPosition)) {
      floatingPoint.position.setValue(newPosition);
      activeShapePoints.pop();
      activeShapePoints.push(newPosition);
    }
  }
}, Cesium.ScreenSpaceEventType.MOUSE_MOVE);
// Redraw the shape so it's not dynamic and remove the dynamic shape.
function terminateShape() {
  activeShapePoints.pop();
  drawShape(activeShapePoints);
  viewer.entities.remove(floatingPoint);
  viewer.entities.remove(activeShape);
  floatingPoint = undefined;
  activeShape = undefined;
  activeShapePoints = [];
}
handler.setInputAction(function (event) {
  terminateShape();
}, Cesium.ScreenSpaceEventType.RIGHT_CLICK);

///// toolbar için seçenekler
var options = [
  {
    text: "Select Points",
    onselect: function () {
      if (!Cesium.Entity.supportsPolylinesOnTerrain(viewer.scene)) {
        window.alert(
          "This browser does not support polylines on terrain."
        );
      }
      terminateShape();
      drawingMode = "point";
    },
  },
  {
    text: "Draw Lines",
    onselect: function () {
      terminateShape();
      drawingMode = "line";
    },
  },
  {
    text: "Draw Polygons",
    onselect: function () {
      terminateShape();
      drawingMode = "polygon";
    },
  },
  {
    text: "Remove",
    onselect: function () {
        console.log('Selected geometries are removed');
        loggingMessage('Selected geometries are removed');
        //viewer.dataSources.removeAll();
        viewer.entities.removeAll();
    },
  },
];

Sandcastle.addToolbarMenu(options);
////remove button
Sandcastle.addToolbarButton("Remove All", function () {
        console.log('Selected geometries are removed');
        loggingMessage('Selected geometries are removed');
        //viewer.dataSources.removeAll();
        viewer.entities.removeAll();
}); 

//// loggin bar için
var logging = document.getElementById('logging');
function loggingMessage(message) {
    logging.innerHTML = message;
}

////czml polygon and line examples
var czml = [
  {
    id: "document",
    name: "CZML Geometries: Polygon",
    version: "1.0",
  },
  {
    id: "redPolygon",
    name: "Red polygon on surface",
    polygon: {
      positions: {
        cartesian: [
4113127.0292841014, 2657873.2148255697, 4072682.3245357866,4113305.110598453, 2657733.737740713, 4072594.0863217274, 4113272.539255857, 2657613.4999342794, 4072704.7003353923,4113207.104055975, 2657668.569127864, 4072734.6494810353,4113735.8759630397, 2658268.430490682, 4073279.117980284,4113839.5546627855, 2658176.618927468, 4073254.4437911063,4113914.3621157226, 2658126.071705714, 4073221.7807245227,4113904.587872582, 2658031.0360425985, 4073329.743683564,4113808.359633487, 2658096.499463111, 4073359.7648096024,4113808.359633487, 2658096.499463111, 4073359.7648096024,
        ],
      },
      material: {
        solidColor: {
          color: {
            rgba: [255, 165, 0, 150],
          },
        },
      },
    },
  },
  {
    id: "waterPolygon",
    name: "Red polygon on surface",
    polygon: {
      positions: {
        cartesian: [
4113483.67197111, 2658494.849825295, 4071921.4482213375,4113567.6934871976, 2658470.8761198735, 4071852.683078921,4113648.408446208, 2658351.9666227405, 4071848.7996433973,4113627.3095589704, 2658293.9887028225, 4071907.569679185,4113527.4817276313, 2658350.5227286317, 4071971.0826287065,4113466.8883641656, 2658449.752718201, 4071967.535196366,4114068.063171901, 2658838.2797350306, 4072566.655698459
        ],
      },
      material: {
        solidColor: {
          color: {
            rgba: [135, 206, 235, 150],
          },
        },
      },
    },
  },
];

var czml2 = [
  {
    id: "document",
    name: "CZML Geometries: Polyline",
    version: "1.0",
  },
  {
    id: "orangeLine",
    name:
      "Orange line with black outline at height and following the surface",
    polyline: {
      positions: {
        cartesian: [4113824.490655332, 2658840.3190359254, 4072804.434478188,4113827.896222748, 2658868.1088935398, 4072785.5780392922,4113826.47850891, 2658894.75548934, 4072771.511687446,4113826.883557006, 2658915.963296556, 4072758.867029215,4113792.9305738243, 2658939.096118012, 4072779.598569657,4113773.297592499, 2658947.5558593166, 4072794.3796237684,4113759.794463909, 2658962.919628774, 4072799.5952776847,4113744.5978045254, 2658973.706286433, 4072807.8216800587,4113705.743869968, 2659001.547971552, 4072827.8452033806,4113687.2514893576, 2659010.0929851276, 4072840.0855841236,4113656.643454759, 2659026.422657068, 4072862.3958246224,4113635.5835108347, 2659045.8232985795, 4072872.8794734282,4113585.4260748173, 2659081.642519647, 4072902.106262375,4113566.5427235407, 2659095.9078901066, 4072912.457001989,4113562.05934661, 2659105.7508716197, 4072911.5585345104,4113570.1696976586, 2659110.530668154, 4072900.2739248867,4113570.157568581, 2659110.5601012413, 4072900.292239665],
      },
      material: {
        polylineOutline: {
          color: {
            rgba: [255, 165, 0, 200],
          },
          outlineColor: {
            rgba: [0, 0, 0, 255],
          },
          outlineWidth: 2,
        },
      },
      width: 5,
    },
  },
  {
    id: "yellow line",
    name:
      "yellow line with black outline at height and following the surface",
    polyline: {
      positions: {
        cartesian: [4113504.626829297, 2659542.856226376, 4072749.3754799105,4113494.806596216, 2659539.66290261, 4072751.332652708,4113485.8138653934, 2659566.9941428145, 4072744.4120298955,4113480.9559086007, 2659593.2005374273, 4072734.8933903784,4113475.1043407307, 2659611.4361584047, 4072729.7342667966,4113502.203480709, 2659602.9484375487, 4072713.594178949,4113530.1396562867, 2659596.3145987075, 4072695.486832373,4113580.778189148, 2659584.9574327944, 4072657.3180956175,4113610.8255289816, 2659580.526206114, 4072634.508668929,4113634.745984118, 2659575.557572719, 4072615.967158554,4113620.551156914, 2659602.919003352, 4072619.093055172,4113620.551156914, 2659602.919003352, 4072619.093055172,]
      },
      material: {
        polylineOutline: {
          color: {
            rgba: [255,255,0, 200],
          },
          outlineColor: {
            rgba: [0, 0, 0, 255],
          },
          outlineWidth: 2,
        },
      },
      width: 5,
    },
  },
];

var dataSourcePromise2 = Cesium.CzmlDataSource.load(czml2);
viewer.dataSources.add(dataSourcePromise2);

var dataSourcePromise1 = Cesium.CzmlDataSource.load(czml);
viewer.dataSources.add(dataSourcePromise1);

    </script>
  </body>
</html>