<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Use correct character set. -->
    <meta charset="utf-8" />
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <title>Geospatial Asset Management</title>
    <script src="/static/Cesium/Build/Cesium/Cesium.js"></script>
    <script src="/static/Cesium/Apps/Sandcastle/Sandcastle-header.js"></script>
    
    <script>
        Cesium.defineProperties = Object.defineProperties;
    </script>
    <script src="/static/navigation/viewerCesiumNavigationMixin.min.js"></script>

    <style>
      @import url(/static/Cesium/Build/Cesium/Widgets/widgets.css);
      html,
      body,
      #cesiumContainer {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      #toolbar {
        position: absolute;
        top: 5px;
        left: 0;
        display: inline;
        margin: 10px;
        padding: 0px;
        background: green;
        }

    </style>
  </head>
  <body>
    <div id="cesiumContainer"></div>
    <div id="toolbar"></div>
    <script>

Cesium.Ion.defaultAccessToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJhMjUyNmU3Zi00ZDQ2LTQzMjctYTg4Mi04NjMxNTM0YzI4NmQiLCJpZCI6NDYyODQsImlhdCI6MTYyMDA2MDYxMn0.jKoTW8L_JSbuxICTm2zQEXjgbILBko_imKbfvDxkIms";

      var viewer = new Cesium.Viewer("cesiumContainer", {
        sceneMode: Cesium.SceneMode.SCENE3D,
        timeline: false,
        animation: false,
        selectionIndicator: true,
        infoBox: true,
        terrainProvider: Cesium.createWorldTerrain(),
        /*terrainProvider: new Cesium.CesiumTerrainProvider({
            url : Cesium.IonResource.fromAssetId(3956),
            requestVertexNormals : true
        }) */
      });
      //OSM buildings
      //viewer.scene.primitives.add(Cesium.createOsmBuildings());
      //Bing Maps Aerial with Labels
    var layer = viewer.imageryLayers.addImageryProvider(
      new Cesium.IonImageryProvider({ assetId: 3 })
    );
    //Cesium ion OSM Buildings
    var tileset = viewer.scene.primitives.add(
      new Cesium.Cesium3DTileset({
        url: Cesium.IonResource.fromAssetId(96188),
      })
    );


///// Compass
    viewer.extend(Cesium.viewerCesiumNavigationMixin, {});

//////////// DataSources and Zoom
    Cesium.GeoJsonDataSource.clampToGround = true ;
    var pinBuilder = new Cesium.PinBuilder();
    Cesium.CzmlDataSource.clampToGround = true ;
    var dataSource1 = Cesium.GeoJsonDataSource.load(
      "/assets"
      );
    var dataSource2 = Cesium.CzmlDataSource.load(
      "/points"
      );
    viewer.dataSources.add(dataSource1);
    viewer.dataSources.add(dataSource2);
    //viewer.zoomTo(dataSource1); 
    viewer.flyTo(dataSource2)

//Infobox and write picked to console
viewer.selectedEntityChanged.addEventListener(function(selectedEntity) {
  if (Cesium.defined(selectedEntity)) {
      if (Cesium.defined(selectedEntity.name)) {
        console.log('Selected ' + selectedEntity.name);
        //viewer.zoomTo(selectedEntity)
        viewer.selectedEntity = selectedEntity;
        selectedEntity.description =
          '<table class="cesium-infoBox-defaultTable"><tbody>' +
          //background="/static/Cesium/Build/Cesium/Assets/Textures/bluee.png"
          //'<table bordercolor="#ff00ff">' +
          //'<table bgcolor="#00ff00">' +
          //'<table border="10">'+
          "<tr><th><b>Informations</b></th><td>" +
          "<b>ID:</b> "+ selectedEntity.id + "<br/>" + selectedEntity.description + "<br />" +
          "</td></tr>" +
          "<tr><th><b>Insitu Image</b></th><td>" +
          '\<img\
            width="50%"\
            style="float:left; margin: 0 1em 1em 0;"\
            src= "/static/Cesium/Build/Cesium/Assets/Textures/karakol.jpg" />\</p>'
          "</td></tr>" +

          "</tbody></table>";


      } else {
        console.log('Unknown entity selected.');
      }
  } else {
    console.log('Deselected.');
  }
  });


// Show or unshow checkbox OSM buildings
Sandcastle.addToggleButton("Show 3D Models", true, function (checked) {
    tileset.show = !tileset.show;
});


/*
// Add a checkbox at the top.
document.getElementById('toolbar').innerHTML =
    '<label><input type="checkbox" id="showCheckbox" /> Show CZML</label>';

var checkbox = document.getElementById('showCheckbox');
checkbox.addEventListener('change', function() {
    // Checkbox state changed.
    if (checkbox.checked) {
        // Show if not shown.
        if (!viewer.dataSources.contains(dataSource2)) {
            viewer.dataSources.add(dataSource2);
        }
    } else {
        // Hide if currently shown.
        if (viewer.dataSources.contains(dataSource2)) {
            viewer.dataSources.remove(dataSource2);
        }
    }
}, false);
*/


/*
  //mouse üzeri lat long
var scene = viewer.scene;
if (!scene.pickPositionSupported) {
  window.alert("This browser does not support pickPosition.");
}

    var entity = viewer.entities.add({
      label: {
        show: true,
        showBackground: true,
        font: "14px monospace",
        horizontalOrigin: Cesium.HorizontalOrigin.LEFT,
        verticalOrigin: Cesium.VerticalOrigin.TOP,
        pixelOffset: new Cesium.Cartesian2(15, 0),
        heightReference: Cesium.HeightReference.CLAMP_TO_GROUND,
        clampToGround: true,
      },
    });

    // Mouse over the globe to see the cartographic position
    handler = new Cesium.ScreenSpaceEventHandler(scene.canvas);
    handler.setInputAction(function (movement) {
      var cartesian = viewer.camera.pickEllipsoid(
        movement.endPosition,
        scene.globe.ellipsoid
      );
      if (cartesian) {
        var cartographic = Cesium.Cartographic.fromCartesian(cartesian);
        var longitudeString = Cesium.Math.toDegrees(
          cartographic.longitude
        ).toFixed(2);
        var latitudeString = Cesium.Math.toDegrees(
          cartographic.latitude
        ).toFixed(2);

        entity.position = cartesian;
        entity.label.show = true;
        entity.label.text =
          "Lon: " +
          ("   " + longitudeString).slice(-7) +
          "\u00B0" +
          "\nLat: " +
          ("   " + latitudeString).slice(-7) +
          "\u00B0";
      } else {
        entity.label.show = false;
      }
    }, Cesium.ScreenSpaceEventType.MOUSE_MOVE);
*/


    </script>
  </body>
</html>